<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>132437972341-6on1remi94u4vf0rbaejpk803vvhb1tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132437972341-6on1remi94u4vf0rbaejpk803vvhb1tt</string>
	<key>API_KEY</key>
	<string>AIzaSyAz2CNAvcKzoLJNqSRWK3P_ZGaL4Ccl1zM</string>
	<key>GCM_SENDER_ID</key>
	<string>132437972341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mruiz723.GAIExample</string>
	<key>PROJECT_ID</key>
	<string>gaiexample-6e1a6</string>
	<key>STORAGE_BUCKET</key>
	<string>gaiexample-6e1a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:132437972341:ios:246efa896c46790d</string>
	<key>DATABASE_URL</key>
	<string>https://gaiexample-6e1a6.firebaseio.com</string>
    <key>TRACKING_ID</key>
    <string>UA-103595828-1</string>
</dict>
</plist>
